
<div class="content">
  <h1>Stupid Coaching</h1>
  <p>
    <div class="grey-margin">
      <div>
        <%= @question %>
      </div>
      <div>
        <em>-You</em>
      </div>
    </div>
    <div class="grey-margin">
      <div>
        <%= @answer %>
      </div>
      <div>
        <em>-Your coach</em>
      </div>
    </div>
  </p>
  <%= link_to "Ask a new question", ask_path %>
</div>


