<div class="content">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>

  <form action="/answer" method="get">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="user_question">
    <input type="submit" value="Ask!" class="btn-primary">
  </form>
</div>
